body{
    background-color: #fae100;
    height: 850px;
}
ul {
    list-style:none;
    margin:px;
    padding: 0;
    padding-left: 17%;
}

a{color: black;}
.OVER{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.OVER_text{
    font-family: 'Jua', sans-serif;
    font-weight: bold; font-size:57px;
    color: #fae100;
    background-color: #3c1d1e;
    border-radius: 15px;
    padding: 15px; text-align: center;
}

.next {display: none; font-family: 'Jua', sans-serif;}
.status_bar{display: flex; justify-content: space-between; margin-bottom: 20px;}

.main{padding-left: 20px; padding-right:20px;}

.header{margin-top: 25px;}
.header_title h1{margin: 0px;} 
.header{display: flex;  justify-content: space-between; margin-bottom: 25px; }
.header_icon{font-size: 1.7em;}


.profile_img img{
     border-radius: 35px;
     background-color: #4e6d86; 
    width: 100px; height: 100px;
    object-fit: cover;
    object-position: 6px 3px;}

.profile_main{display:flex; border-bottom: solid #a9a9a9 1px; padding-bottom: 20px;}
.profile{margin-left: 20px;}
.profile_name{ font-weight: bold; font-size: 24px;} 

.profile_menus{color:#6d6a6a;}
.profile_menu1{border-bottom: solid #a9a9a9 1px; padding-top: 15px; padding-bottom: 15px;}
.profile_menu2{padding-top: 15px; padding-bottom: 15px;}
.profile_menu_icon{float: right;}

.friend_img img{width: 65px; height: 65px; object-fit: cover;  border-radius: 20px;}
.friend_img1{object-position: 6px 3px; background-color: rgb(10, 155, 75)}
.friend_img2{object-position: -2px -2px; background-color: rgb(63, 23, 209)}
.friend_img3{object-position: 0px -8px;}
.frinds{display:flex; margin-bottom: 20px; }
.frinds1{margin-left: 20px;;}
.friend_name{font-weight: bold; color: black;}
.frind_status{font-size: 13px;}

.footer { height: 70px; background-color: #f5f2f2; position: fixed; bottom: 0; left: 0; right: 0; }
.status_bar { height: 25px; background-color: #e4e4e4; position: fixed; top: 0; left: 0; right: 0; }


#main_menu{height: 70px; width: auto; font-size: 23px;}
#main_menu ul li{float: left; width: 25%; height: 100%;}




@media (max-width:500px){
    body{background-color: white;}
    .OVER .OVER_text{display: none; height: 0px;}   .OVER{height: 0px;}
    .next{display:unset;}  
}
